body {
    margin: 5em;
}
li {
    font-size: 18px;
    padding: 4px;
}

#toast-container > .toast {
    background-image: none !important;
}
.toast-success{
 background-color: rgb(16, 126, 1);
}
.toast-error{
 background-color: rgb(216, 4, 4);
}
.toast-warning{
  background-color: rgb(206, 151, 0);
}
.toast-info{
  background-color: rgb(2, 125, 173);
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}
#toast-container > .toast-warning:before {
    content: "\f003";
    background-color: rgb(206, 151, 0);
}
#toast-container > .toast-error:before {
    content: "\f001";
    background-color: rgb(216, 4, 4);
}
#toast-container > .toast-info:before {
    content: "\f005";
    background-color: rgb(2, 125, 173);
}
#toast-container > .toast-success:before {
    content: "\f002";
      background-color: rgb(16, 126, 1);
}
